<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.onelogin.mockta">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name="com.onelogin.mockta.SDKTest">
        <activity android:name="com.onelogin.mockta.Setup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <data android:scheme="olta" android:host="com.onelogin.mockta" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>


        <activity android:name="com.onelogin.mockta.AddApp"/>
        <activity android:name="com.onelogin.mockta.Settings"/>

    </application>
</manifest>
